body {
background: -webkit-linear-gradient(100deg, #ffffff 40%, #b7d7e8 60%);
  background: -o-linear-gradient(100deg, #ffffff 40%, #b7d7e8 60%);
  background: -moz-linear-gradient(100deg, #ffffff 40%, #b7d7e8 60%);
  background: linear-gradient(100deg, #ffffff 40%, #b7d7e8 60%);
}

.header{
background-image: linear-gradient(60deg, #66757F, #CCD6DD);
Padding:0 8%;
Position:realative;
Background-size:100% 100%
width=100%
Font-family:serif;
}

.header a{
Font-family:serif;
}
nav{
Display:flex;
Align-items:center;
Justify-content:space-between;
Flex-wrap:wrap;
}

.logo{
Width:90px;
}

.nav-links{
Padding:28px 0;
}

.nav-links li{
Display:inline-block;
Margin:0 15px;

}

.nav-links a{
Text-decoration:none;
Color:#fff;
Padding:5 px 0;
Text-shadow:1px 1px black;
Font-size:20px

}

.header1{
Text-decoration:none;
Padding:20px;

}

.header1 i{
font-size:20px;
color:#034f84;

}

.header1 p{
Font-family:serif;
Font-size:18px;
Color:#292F33;
Flex:40%;
}
.header1 h1{
Text-align:center;

}


.content h1{
Position:relative;
Left:450px;
Top:-80px;
Font-size:60px;
    line-height: 0%;
   transform: rotateX(0) rotateY(-25deg);
    text-transform: uppercase;
    width: 500px;
 text-align: center;
    color:#034f84;
    color:#034f84;
    font-family: "Zefani";
 font-family: 'Abril Fatface';
    margin: 3rem auto;
    position: relative;
    padding: 2rem 0 9rem;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;
 
}

.header2{
background-image: linear-gradient(20deg, #66757F, #CCD6DD);
Padding:0 2%;
Position:realative;
Background-size:100% auto;
Height:40px;
Font-family:serif;
}


.nav-links1{
Padding:4px 0;
}

.nav-links1 li{
Display:inline-block;
Margin:0 15px;
}

.nav-links1 a{
Text-decoration:none;
Color:#fff;
Padding:4px 0;
Text-shadow:1px 1px black;
Font-size:20px

}

.container{
position:relative;
 Right:10px;
Left:160px;
}

.container p{
Font-size:60px;
Font-family:"Trirong", serif;
color:#034f84;
Text-shadow:1px 1px black;
}

div.top{
Font-family:"Trirong", serif;
color:#034f84;
Text-shadow:1px 1px black;
Font-size:40px;
Position:relative;
Right:10px;
Left:500px;
Text-decoration:underline;

}

.tab1{
Position:relative;
Right:10px;
Left:300px;

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
Width:800px;

}

.tab button {
  background-color: inherit;
  float: left;
  border: 5px white;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
Width:50%

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.tabcontent1{
Position:relative;
Right:10px;
Left:1px;
 overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
Width:800px;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
background-color: white;
  
}

#icon-name{
Background:url('https://pnghut.com/png/QWUwtjGuFs/retail-business-e-commerce-online-shopping-symbol-transparent-png') 10px center no-repeat;
Padding-left:20px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
       Left:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 50px;
  height: 400px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.arrow {
  Border: 1px solid #034f84;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  Color:white;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   Word-spacing:5px;

}
.column i{
font-size:20px;
color:#034f84;
}

.column a{
Font-size:20px;
Font-family:serif;
}

.column p{
Font-size:18px;
Font-family:serif;
}

.row{
background-color: #f1f1f1;

}

.column{
Font-family:serif;
Font-size:15px;
Color:#034f84;
}

.column h2{

Color:#292F33;
}



.sub{
background-color:#CCD6DD;
}



.float1{
Font-size:40px;
border-radius:40px;
text-align:center;
Position:relative;
Left:40%;
Top:-30px;
}

img{
border-radius: 8px;
Width:200px;
Height:50px;
}


.footer {
  Position:realtive;
  left: 0;
  bottom: 0;
  width: 100%;
Height:40px;
  background-color:#f0f0f0;
  color:#034f84;
  text-align: center;
Font-size:20px;
Font-family:serif;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.topnav i{
Font-size:25px;
}

.topnav{
Position:relative;
Top:-80px;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#77a8a8;
  color:#3b3a30;
  cursor: pointer;
  padding: 15px;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: #555;
  Color:white;
}


.nav {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
}

.nav li {
    display: inline-block;
    list-style: none;
}

.nav .button-dropdown {
    position: relative;
}

.nav li a {
    display: block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 150px;
}

.navbar{
background-image: linear-gradient(60deg, #66757F, #CCD6DD);
Padding:0 8%;
Position:realative;
Background-size:100% 100%
width=100%
Font-family:serif;
Position:relative;
Top:-100px;
}



.dropbtn{
font-size: 16px;  
  border: none;
  outline: none;
  Color:white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown{
position: relative;
  display: inline-block;
Float:left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#034f84;
Min-width:140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd
Min-width:140px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #deeaee;
Color:#50394c;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  Font-family:inherit;
}

.navbar a:hover{
background-color: #deeaee;
Color:#50394c;
Font-family:inherit;
}

.top{
Position:relative;
Top:-40px;
}

